@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: #06090F;
}

a {
  color: #fff;
  text-decoration: none;
}

.centralizer {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #0B1018;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.is-hidden {
  display: none;
}

.logo {
  color: #00A3FF;
  font-size: 22px;
}

.nav a {
  font-size: 18px;
  margin-left: 35px;
  position: relative;
  z-index: 1;
  padding: 15px;
  cursor: pointer;
}

.nav a:hover {
  color: #06090F;
}

.nav a:after {
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  color: transparent;
  background: #00A3FF;
  border-radius: 4px;
  visibility: none;
  opacity: 0;
  z-index: -1;
  transition: all .5s;
}

.nav a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #00A3FF;
  margin: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 1120px) {
  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
  }

  .nav {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background: linear-gradient(to top, #1B4F72, #0D121C);
    opacity: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav a {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .nav {
    width: 80%;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navItemFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Header end */

/* section Inicio */

.home {
  padding: 5vw 0;
  height: 90vh;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
  height: 100vh;
}


.apresentation {
  display: flex;
  flex-direction: column;
}

.apresentation p {
  color: #4d5664;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 4px;
}

.apresentation h1 {
  font-size: 40px;
  color: #fff;
  text-align: left;
}

.apresentation h1:after {
  content: '|';
  animation: blink 2s infinite;
}

.hero>img {
  height: 425px;
  animation: float 2.1s infinite;
}

.container-buttons {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.github-button{
  background-color: #181717;
}

.linkedin-button,
.deploy-button {
  background-color: #1C92FF;
}

.button{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;

  border: none;
  border-radius: 5px;

  cursor: pointer;
  transition: .4s;
  font-size: 18px;
  font-weight: medium;
}

.button:hover {
  background-color: #fff;
  transition: .6s;
  transform: translateY(-3px);
}

.github-button svg path,
.linkedin-button svg path {
  transition: .6s;
}

.github-button:hover {
  color: #181717;
}

.github-button:hover svg path{
  fill: #181717;
}

.linkedin-button:hover,
.deploy-button:hover {
  color: #1C92FF;
}

.linkedin-button:hover svg path{
  fill: #1C92FF;
}

/* section Sobre mim */

.about,
.projects,
.skills{
  padding: 82px 0 100px 0;
}

.about,
.skills {
  background-color: #0B101A;
}

.title-section {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-bottom: 64px;
}

.mark {
  color: #00A3FF;
}

.container_about {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.container-profile-image {
  position: relative;
}

.container_about img {
  height: 258px;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 20px #00a2ff23);
}

.bio-title {
  font-size: 26px;
  margin-bottom: 24px;
  color: #fff;
}

.bio-description {
  width: 60ch;
  margin: 0 auto;
  margin-bottom: 16px;
  color: #fff;
  line-height: 24px;
}

.bio-description span {
  font-weight: 500;
}

.bio-contacts {
  display: flex;
  color: #fff;
  margin-top: 24px;
  width: 100%;
  justify-content: space-between;
}

.links-contacts h4 {
  margin-bottom: 4px;
}

.links-contacts a {
  font-size: 14px;
  color: #868c96;
  transition: .5s;
}

.links-contacts a:hover {
  color: #fff;
}

/* section Projetos */

.projects {
  padding-bottom: 100px;
}

.div-project-image img {
  height: 400px;
  cursor: pointer;
}

.div-project-image:hover {
  transform: scale(103%);
  transition: .3s;
}

.container-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  justify-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project p {
  color: #BFBEBE;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}

.project-title {
  color: #00A3FF;
  font-size: 22px;
  text-align: center;
}

/* section skills */
.menu-skills {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #06090F;
  width: 60%;
  border-radius: 25px;
  margin: 0 auto 24px auto;
  padding: 8px 0;
}

.menu-skills ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.item-menu-skill  {
  color: #fff;
  font-size: 20px;
  padding: 16px 24px;
  cursor: pointer;
  border-radius: 10px;
}

.is-active {
  background-color: #00A3FF;
  color: #06090F;
}

.item-menu-skill:hover {
  color: #06090F;
  background-color: #00a3ff;
  transition: .5s;
}

.container-skills {
  background-color: #06090F;
  padding: 32px;
  border-radius: 15px;
}

.container-skills h3 {
  display: inline-block;
  font-size: 32px;
  color: #fff;

  padding-bottom: 8px;
  border-bottom: 3px solid #00a3ff;
  margin-bottom: 32px;

}

.techs {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tech img {
  height: 60px;
}

.tech span {
  color: #fff;
  font-size: 20px;
  margin-top: 8px;
}


/* footer  */

footer {
  background-color: #151B26;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  transform: scale(0);
  transition: opacity .25s, transform 0.25s ;
}

.modal-visible {
  opacity: 1;
  transform: scale(1);
}

.modal-content {
  width: 90%;
  max-width: 600px;
  height: auto;
  background: linear-gradient(to top right, #1B4F72, #0D121C);
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  position: relative;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0.5%;
  max-width: 44px;
  z-index: 1;
  cursor: pointer;
  color: #fff;
}

.modal-img-project {
  width: 100%; 
  height: auto; 
  max-height: 267px;
  margin-bottom: 10px;
}

.modal-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.modal-buttons  {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 43px;
  margin-top: 50px;
}


/* Animations */

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}