@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #06090F;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Header start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #06090F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #151B26;
  z-index: 1;

}

.logo {
  color: #00A3FF;
  font-size: 22px;
}

.nav a {
  font-size: 18px;
  margin-left: 35px;
  position: relative;
  z-index: 1;
  padding: 15px;
  cursor: pointer;
}

.nav a:hover {
  color: #06090F;
}

.nav a:after {
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  color: transparent;
  background: #00A3FF;
  border-radius: 4px;
  visibility: none;
  opacity: 0;
  z-index: -1;
  transition: all .5s;
}

.nav a:after {
  transition: all .5s;
}

.nav a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/* Header end */

/* section Inicio start */

.home {
  margin: 5vw 0;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
}

.apresentation {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.apresentation p {
  color: #BFBEBE;
  font-weight: bold;
  font-size: 12px;
}

.apresentation h1 {
  font-size: 40px;
  color: #fff;
  text-align: left;
}

.home>img {
  height: 625px;
  position: absolute;
  right: -10px;
}

.container-buttons {
  display: flex;
  gap: 8px;
  margin-top: 4px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: transparent;
  border: 1px solid #00A3FF;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  padding: 5px;
  width: 150px;
  cursor: pointer;
}

button img {
  height: 22px;
  width: 22px;
}

button:hover {
  background-color: #151B26;
  transform: .3s;
}

/* section Inicio end */

/* section Sobre mim start */

.about {
  margin-bottom: 128px;
}

.about h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-bottom: 64px;
}

.about span,
.about h4 {
  color: #00A3FF;
}

.container_about {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.container-profile-image {
  position: relative;
}

.container_about img {
  height: 258px;
}

#square {
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 55px;
  border: 3px solid #00A3FF;
  height: 258px;
  width: 242px;
}

.container_about p {
  color: #fff;
  width: 529px;
  text-align: justify;
}

#bio {
  font-size: 26px;
  margin-bottom: 8px;
}

.bio-contacts {
  display: flex;
  color: #fff;
  margin-top: 24px;
  width: 100%;
  justify-content: space-between;
}