@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #06090F;
}

a {
  color: #fff;
  text-decoration: none;
}

.centralizer {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

/* Header start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #06090F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #151B26;
  z-index: 1;
  background-color: #151B26;
}

.logo {
  color: #00A3FF;
  font-size: 22px;
}

.nav a {
  font-size: 18px;
  margin-left: 35px;
  position: relative;
  z-index: 1;
  padding: 15px;
  cursor: pointer;
}

.nav a:hover {
  color: #06090F;
}

.nav a:after {
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  color: transparent;
  background: #00A3FF;
  border-radius: 4px;
  visibility: none;
  opacity: 0;
  z-index: -1;
  transition: all .5s;
}

.nav a:after {
  transition: all .5s;
}

.nav a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #00A3FF;
  margin: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 1120px) {
  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
  }

  .nav {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #151B26;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav a {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .nav {
    width: 80%;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navItemFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Header end */

/* section Inicio start */

.home {
  padding: 5vw 0;
  height: 80vh;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
}


.apresentation {
  /* width: 100%;
  max-width: 1024px;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
}

.apresentation p {
  color: #BFBEBE;
  font-weight: bold;
  font-size: 12px;
}

.apresentation h1 {
  font-size: 40px;
  color: #fff;
  text-align: left;
}

.apresentation h1:after {
  content: '|';
  animation: blink 2s infinite;
}

.hero>img {
  height: 425px;
  animation: float 2.1s infinite;
}

.container-buttons {
  display: flex;
  gap: 8px;
  margin-top: 4px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: transparent;
  border: 1px solid #00A3FF;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  padding: 5px;
  width: 150px;
  cursor: pointer;
}

button img {
  height: 22px;
  width: 22px;
}

button:hover {
  background-color: #151B26;
  transform: .3s;
}

/* section Inicio end */

/* section Sobre mim start */

.about {
  margin: 148px 0;
}

.title-section {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-bottom: 64px;
}

.about span,
.projects span,
.skills span,
.about h4 {
  color: #00A3FF;
}

.container_about {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.container-profile-image {
  position: relative;
}

.container_about img {
  height: 258px;
}

.square {
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 55px;
  border: 3px solid #00A3FF;
  height: 258px;
  width: 242px;
}

.container_about p {
  color: #fff;
  text-align: justify;
}

.bio {
  font-size: 26px;
  margin-bottom: 8px;
}

.bio-description {
  width: 529px;
  margin: 0 auto;
}

.bio-contacts {
  display: flex;
  color: #fff;
  margin-top: 24px;
  width: 100%;
  justify-content: space-between;
}

/* section Sobre end */

/* section Projetos start */

.projects {
  padding-bottom: 100px;
}

.container-projects img {
  height: 400px;
}

.container-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  justify-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project p {
  color: #BFBEBE;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}

.project-title {
  color: #00A3FF;
  font-size: 22px;
  text-align: center;
}

/* section Projetos end */

/* section skills start */

.skills {
  margin-bottom: 64px;
}

.skills h3 {
  font-size: 30px;
  color: #fff;
  border-bottom: 2px solid #00A3FF;
  display: inline-block;
  margin-bottom: 24px;
}

.container-techs-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
}

.container-techs img {
  margin-bottom: 8px;
}

.container-techs img:hover {
  cursor: pointer;
  transform: translate(0, -10px);
  transition: 0.3s;
}

.about-techs {
  color: #fff;
}

.name-skill {
  font-size: 22px;
}

.content-skill {
  font-size: 15px;
}

/* section skills end  */

/* Media queries start */

@media (max-width: 1120px) {
  .hero>img {
    display: none;
  }

  .hero {
    justify-content: center;
  }

  .apresentation {
    align-items: center;
  }

  .container_about {
    flex-direction: column;
    align-items: center;
  }

  .square {
    display: none;
  }

  .container_about img {
    margin-bottom: 32px;
  }

  .container-bio p {
    text-align: center;
  }

  .skills {
    text-align: center;
  }

  .container-techs-about {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .container-techs {
    text-align: center;
    margin-bottom: 16px;
  }

  .about-techs {
    width: 80%;
    text-align: left;
  }
}

@media (max-width: 968px) {
  .container-projects {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .project {
    align-items: center;
    margin-bottom: 32px;
  }
}

@media (max-width: 600px) {

  .bio-description,
  .bio-contacts {
    width: 80%;
  }

  .bio-contacts {
    margin: 24px auto 0 auto;
    gap: 8px;
    text-align: center;
    flex-direction: column;
  }

}

/* Media queries end */


/* Animations */

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}